*.gem
*.rbc
.bundle
.config
.yardoc
.rvmrc
.rspec
.ruby-gemset
.ruby-version
gemfiles/*.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor
Dockerfile
docker-compose.yml
