# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  ruby: circleci/ruby@1.8.0

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  test:
    parameters:
      ruby:
        type: string
      rails:
        type: string
    docker:
      - image: cimg/ruby:<< parameters.ruby >>
    steps:
      - checkout
      - ruby/install-deps: # use the ruby orb to install dependencies
          bundler-version: 2.0.2
      - run:
          name: Install appraisal deps
          command: bundle exec appraisal install
      - run:
          name: Run all appraisal tests
          command: bundle exec appraisal << parameters.rails >> rake spec

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  all-tests:
    jobs:
      - test:
          matrix:
            parameters:
              ruby: ["3.2", "3.1", "3.0"]
              rails: ["rails-6.1", "rails-7.0"]
            exclude:
              - ruby: "3.1"
                rails: "rails-6.1"
